<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <meta charset='UTF-8'></meta>
  </head>
  <body>
     <form method='POST' action=''>
         <label>Genre: </label>
	 <input name='name' type='text' 
	     placeholder='Fantasy, Poetry, etc.'
	     value= <%= locals.genre ? genre.name : '' %> 
	 >
	 </input>
	 <input type='submit' value='Add Genre'></input>

	 <% if (locals.errors) { %>
	     <ul>
	         <% for (var i = 0; i < errors.length; i++) { %>
		     <li><%= errors[i].msg %></li>
		 <% } %>
             </ul>
	 <% } %>
     <form>
  </body>
</html>
